#canvas1 {
  border: 3px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid white;
}
img {
  display: none;
}
* {
  background: black;
}
#restart {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: transparent;
  color: red;
  border: 3px solid red;
  border-radius: 10px;
  height: 50px;
  width: 300px;
  font-size: 20pt;
  font-family: Orbitron;
  transition: 0.1s;
}
#restart:hover {
  font-size: 23pt;
  width: 310px;
}
